@import "../../styles/library";

.Dashboard {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $silver;
    display: flex;
    flex-direction: column;

    &__Content {
        margin: 70px 30px 0 30px;
    }
}