// Palette
$light-blue: #00AEEF;
$orange: #FDC37B;
$burnt-orange: #C1582D;
$peach: #FCCAB3;
$lavender: #8799CE;
$light-lavender: #B0BEE6;
$honeydew: #D6EBCE;
$green: #79C68D;
$light-green: #B7DB9F;
$silver: #F7F7F8;
$gray: #CECECE;

// Breakpoints

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 960px) {
        @content;
    }
}


// Border
$border: 2px solid $gray;

// PrimaryButton
@mixin primary-button {
    background-color: $lavender !important;
    color: $silver !important;

    &:hover {
        background-color: $light-lavender !important;
        color: $silver !important;
        transition: all ease-in .3s;
        transform: translate3D(0,-1px,0);
    }
}


//Modal
@mixin modal {
    position: absolute;
    top: 40px;
    left: 25%;
    right: 25%;
    bottom: 30%;
    padding: 30px;
    border: $border;
    background-color: $silver;

    @include mobile {
        padding: 10px;
        top: 25%;
        left: 0;
        bottom: 25%;
        width: 100%;
    }

    &:focus {
        outline: none;
    }
}

@mixin modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}