
#root, html {
    height: 100%;
    width: 100%;
    background-color: #F7F7F8;
}

// Components
@import "../LandingPage/Component/LandingPage";
@import "../Dashboard/Component/Dashboard";
@import "../Navbar/Component/Navbar";
@import "../Common/Button/Button";
@import "../Profile/Component/Profile";
@import "../Admin/Component/AdminDashboard";
@import "../Admin/Component/League/LeagueAdmin";
@import "../League/Component/LeagueCards";
@import "../League/Component/LeaguePage";
@import "../PlayerTeam/Component/PlayerTeam";
@import "../PlayerTeam/Component/PlayerTeamAdd";
@import "../PlayerTeam/Component/PlayerTeamPage";
@import "../Games/Component/Game";
@import "../League/Component/LeaguePlayers";
@import "../Profile/Component/SettingsPage";
@import "../Common/Footer/Footer";
@import "../Admin/Component/PlayerTeam/PlayerTeamAdmin";
