@import "../../styles/library";

.LandingPage {
    width: 100%;
    height: 100%;
    //background: linear-gradient(185deg, $peach, $orange);
    background-color: $silver;
    transition: all 1s ease-in-out;

    &__Icon {
        fill: $burnt-orange;
        border-radius: 50%;
        background: $orange;
        border: 3px solid $burnt-orange;
    }

    &__Hero {
        position:relative;
        width: 100%;
        height: 60%;
        min-height: 400px;
        background: transparent;
        display: flex;
        justify-content: center;
        border-bottom: $border;

        &__Container {
            position: relative;
            width: 40%;
            display: flex;
            justify-content: center;
            vertical-align: middle;
        }

        &__Logo {
            margin: auto;
            width: 300px;
            height: 325px;

            @include mobile {
                width: 145px;
                height: 200px;
            }
        }
    }

    &__Section {
        width: 100%;
        height: auto;
        display: flex;
        border-top: $border;
        border-bottom: $border;
        justify-content: center;
        background-color: $light-green;

        &__Content {
            padding: 70px 15px;
            width: 60%;
            display: flex;
            justify-content: flex-start;
        }

    }

    &__Modal {
        @include modal;

        &__Overlay {
            @include modal-overlay;
        }

        &__Content {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &__Controls {
            display: flex;
            justify-content: flex-end;
        }

        &__Login {
            height: 40%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            &__Buttons {
                margin-top: 15px !important;
                @include desktop {
                    width: 60%;
                    align-self: center;
                }
            }

            &__Title {
                display: flex;
                justify-content: center;
                margin: 30px 0;
                color: $lavender;
            }
        }
    }
}