@import "../../styles/library";

.PlayerTeam {

    &__Actions {
        margin: 10px 3px;
        font-size: 24px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__Header {
        display: flex;
        justify-content: flex-start;
        overflow-wrap: break-word;
        font-size: 18px;
        font-weight: bold;
        color: black;
    }

    &__Form {
        width: 100%;
    }

    &__Extra {
        background-color: $silver !important;
    }

    &__Link {
        float: right;
        font-size: 16px;

        &:hover {
            color: $lavender !important;
        }
    }

    &__Trash {

        &:hover {
            animation: bounce 1s;
            cursor: pointer;
        }
    }

    &__Wrench {
        color: $lavender !important;

        &:hover {
            animation: bounce 1s;
            cursor: pointer;
        }
    }
}