@import "../../styles/library";

.LeagueCards {

    &__Completed {
        opacity: 0.4;
    }

    &__Empty {
        width: 100%;
        display: flex;
        margin: 20px 0;
        font-size: 28px;
        color: $lavender;
        font-family: Raleway;
        line-height: 1;
    }

    &__Dont {
        opacity: 0.6 !important;
        width: auto !important;
        margin: 0 !important;

        &__Icon {
            margin: 0 !important;
        }
    }

    &__Header  {
        color: $orange;
        font-weight: bold;
        font-size: 72px;
        font-family: Happy-Fox;
        letter-spacing: 8px;
        text-shadow:
                3px 3px 0 $burnt-orange,
                -1px -1px 0 $burnt-orange,
                1px -1px 0 $burnt-orange,
                -1px 1px 0 $burnt-orange,
                1px 1px 0 $burnt-orange;
        margin: 0 0 15px 25px;

        @include mobile {
            text-align: center;
            font-size: 48px;
            margin: 0 0 15px 0;
        }

        &__Container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @include mobile {
                flex-direction: column;
                justify-content: center;
                margin: 20px 0;
            }
        }
    }

    &__Link {
        float: right;
        font-size: 16px;

        &:hover {
            color: $lavender !important;
        }
    }

    &__Meta {
        margin: 10px 0;
    }
}