@import "../../styles/library";

.Footer {
    width: 100%;
    min-height: 150px;
    background-color: $silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;

    &__Container {
        display: grid;
        grid-template-columns: 40% auto 100px;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__Links {
        display: flex;
        flex-direction: column;

        & > a {
            color: $lavender;
            font-weight: bold;
            margin: 5px 0;

            &:hover {
                color: $light-lavender;
                cursor: pointer;
            }
        }
    }

    &__Github {
        font-size: 42px !important;
        color: black;
    }

    &__Text {
        font-size: 10px;
    }

    &__Rules  {

    }
}