.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Content {
    opacity: 0;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 200ms;
}

.ReactModal__Content--before-close {
    opacity: 0;
}

i.orange.icon {
    color: $burnt-orange !important;
}