$light-blue: #00AEEF;
$orange: #FDC37B;
$burnt-orange: #C1582D;
$peach: #FCCAB3;
$lavender: #8799CE;
$light-lavender: #B0BEE6;
$honeydew: #D6EBCE;
$green: #79C68D;
$light-green: #B7DB9F;
$silver: #F7F7F8;
$gray: #CECECE;
